/* CSS CUSTOM ASISTENCIA APP */

body,
html {
height: 100%;
font-family: 'Roboto', sans-serif;
}

.primary-color {
/*background-color: #0090D9!important;*/
background-color: #023A86!important;
}

.btn-default {
background-color: #a4cf4e!important;
}

.btn-primary {
/*background-color: #0090D9!important;*/
background-color: #023A86!important;
}

.dropdown .dropdown-menu .dropdown-item:active {
background-color: #a4cf4e;
color: #fff!important;
;
}

.btn-deep-orange {
background-color: #008fda!important;
color: #fff!important;
}

.elementCenter {
text-align: center;
}

.fa.sizeIconUser {
font-size: 20px;
}
/*=====================================
CSS Loading
======================================*/

#loader-wrapper {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1000;
}

#loader {
display: block;
position: relative;
left: 50%;
top: 50%;
width: 150px;
height: 150px;
margin: -75px 0 0 -75px;
border-radius: 50%;
border: 3px solid transparent;
border-top-color: #3498db;
-webkit-animation: spin 2s linear infinite;
/* Chrome, Opera 15+, Safari 5+ */
animation: spin 2s linear infinite;
/* Chrome, Firefox 16+, IE 10+, Opera */
z-index: 1001;
}

#loader:before {
content: "";
position: absolute;
top: 5px;
left: 5px;
right: 5px;
bottom: 5px;
border-radius: 50%;
border: 3px solid transparent;
border-top-color: #e74c3c;
-webkit-animation: spin 3s linear infinite;
/* Chrome, Opera 15+, Safari 5+ */
animation: spin 3s linear infinite;
/* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
content: "";
position: absolute;
top: 15px;
left: 15px;
right: 15px;
bottom: 15px;
border-radius: 50%;
border: 3px solid transparent;
border-top-color: #f9c922;
-webkit-animation: spin 1.5s linear infinite;
/* Chrome, Opera 15+, Safari 5+ */
animation: spin 1.5s linear infinite;
/* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
}
100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
}
}

@keyframes spin {
0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
}
100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
}
}

#loader-wrapper .loader-section {
position: fixed;
top: 0;
width: 51%;
height: 100%;
background: #fff;
z-index: 1000;
-webkit-transform: translateX(0);
/* Chrome, Opera 15+, Safari 3.1+ */
-ms-transform: translateX(0);
/* IE 9 */
transform: translateX(0);
/* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
left: 0;
}

#loader-wrapper .loader-section.section-right {
right: 0;
}
/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
-webkit-transform: translateX(-100%);
/* Chrome, Opera 15+, Safari 3.1+ */
-ms-transform: translateX(-100%);
/* IE 9 */
transform: translateX(-100%);
/* Firefox 16+, IE 10+, Opera */
-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
-webkit-transform: translateX(100%);
/* Chrome, Opera 15+, Safari 3.1+ */
-ms-transform: translateX(100%);
/* IE 9 */
transform: translateX(100%);
/* Firefox 16+, IE 10+, Opera */
-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
opacity: 0;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
visibility: hidden;
-webkit-transform: translateY(-100%);
/* Chrome, Opera 15+, Safari 3.1+ */
-ms-transform: translateY(-100%);
/* IE 9 */
transform: translateY(-100%);
/* Firefox 16+, IE 10+, Opera */
-webkit-transition: all 0.3s 1s ease-out;
transition: all 0.3s 1s ease-out;
}
/* JavaScript Turned Off */

.no-js #loader-wrapper {
display: none;
}

.no-js h1 {
color: #222222;
}

#content {
margin: 0 auto;
padding-bottom: 50px;
width: 80%;
max-width: 978px;
}
/*=====================================
CSS Sección Top
======================================*/

header {
height: 115px;
background-color: #fff;
}

.top-container {
background-color: #fff;
padding: 19px;
}

.logoUno {
width: 42%;
float: left;
}

.logoDos {
width: 50%;
float: left;
}

.logoUno img {
/*width: 90%;*/
}

.logoDos img {
/*width: 90%;*/
}

.divisorBarraVertical {
border-left: 2px solid #ccc;
height: 95%;
width: 1%;
float: left;
margin-left: 2px
}

.tituloDatos {
color: #868686;
}

.numDatos {
color: #868686;
font-weight: 500;
}
/*=====================================
CSS STICKY MENU
======================================*/

.navbar {
border-radius: 0;
transition: all 0.3s ease-out;
}

.affix {
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}
/* fixed to top styles */

.affix.navbar {
background-color: #333;
}

.affix.navbar .nav-item>a,
.affix.navbar .navbar-brand {
color: #fff;
}
/*=====================================
CSS NAVBAR
======================================*/

.menuCentrado {
max-width: 77%;
margin: 0 auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
padding-right: 2.3rem;
padding-left: 2.3rem;
}

.nav-link {
padding: 0.8rem 1rem;
}
/*=====================================
CSS IMG SECTION HOME/MAIN
======================================*/

.bgHome {
background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bgHome.jpg);
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 16px;
}

.bgVida {
background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bgAsistenciaVida2.jpg);
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 16px;
}

.bgHomeHogar {
background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bgAsistenciaHogar2.jpg);
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 16px;
}

.bgHomeCiber {
background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/bgAsistenciaCiber2.jpg);
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 16px;
}

.bgHomeDesempleo {
background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/bgAsistenciaDesempleo2.jpg);
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 16px;
}

.bgHomeFraude {
background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bgAsistenciaFraude2.jpg);
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 16px;
}

.bgHomeGarantia {
background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bgAsistenciaGarantiaHome.jpg);
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 16px;
}

.title {
position: absolute;
top: 58%;
left: 42% !important;
transform: translate(-100%, -50%);
color: white;
text-align: left;
}

.title h1 {
text-transform: uppercase;
margin: 0;
font-size: 4rem;
white-space: nowrap;
font-weight: 700;
line-height: 70px;
}

.title h2 {
font-size: 3rem;
font-weight: 500;
line-height: 48px;
}

.title p {
margin: 0;
font-size: 2rem;
}

.botonTitle {
position: absolute;
top: 84%;
left: 10%;
transform: translate(-100%, -40%);
color: white;
text-align: left;
}

.btn-rounded {
border-radius: 10em;
}

.btn-floating {
width: 47px;
height: 47px;
position: relative;
z-index: 1;
vertical-align: middle;
display: inline-block;
overflow: hidden;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
margin: 10px;
border-radius: 50%;
padding: 0;
cursor: pointer;
}

.btn-floating {
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.btn-floating:hover {
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.btn-floating.btn-lg {
width: 61.1px;
height: 61.1px;
}

.btn-floating.btn-lg i {
font-size: 1.625rem;
line-height: 61.1px;
}

.btn-floating i {
display: inline-block;
width: inherit;
text-align: center;
color: #fff;
}

.btn-floating i {
font-size: 1.25rem;
line-height: 47px;
}
/*==========================================
CSS Sección GESTOR HUELLA DIGITAL
============================================*/

.contenedorGestorHuella {
width: 100%;
display: block;
height: 100%;
}

.imgLeft {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaHogar.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgHuella {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgGestorHuella.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.bgReputacionOnline {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaVida.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgReputacion {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgReputacionOnline.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgGuiaLegal {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/desempleo.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.soporteRespaldo {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaGarantia2.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgNavegacionSegura {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaFraude3.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.asesoriaEntrevistas {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaDesempleo3.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.alertaParental {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaCiber3.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgRecuperacionDatos {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaGarantia3.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgEliminacionDatos {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaHogar.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgbloqueoRemoto {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaFraude5.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgRecuperacionDatosGarantia {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaGarantia3.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgAlarmaAntirrobo {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaFraude4.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgSoporteRespaldo {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaHogar3.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.bgAsistenciaLegal {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaCiber.jpeg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.bgguiaUso {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgGuiaUso.png);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.recuperarDatosGarantia {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/ciber-seguridad.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgLegal {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaLegal.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgSeguridad {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/ciber-seguridad.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.bgActivosPersonales {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaDesempleo.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.imgActivosPersonales {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgActivosPersonales.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.bgAsistenciaFraude {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaFraude.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.bgAsistenciaGarantia {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/bgAsistenciaGarantiaHome.jpg);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.bgLegal {
display: block;
color: #fff;
width: 50%;
background-image: url(../img/legal.png);
background-size: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.titleSection {
padding: 20px;
}

.titleSection h1 {
color: #9e9e9e!important;
font-family: 'Roboto', sans-serif!important;
font-size: 26px;
}

.titleSection h2 {
color: #9e9e9e!important;
font-family: 'Roboto', sans-serif!important;
font-size: 46px;
font-weight: 700;
text-transform: uppercase;
}

.titleSection h4 {
color: #9e9e9e!important;
font-size: 36px;
font-weight: 300;
font-family: 'Roboto', sans-serif!important;
}

.marPadBottom50 {
padding-bottom: 0px;
margin-bottom: 0px;
}
/*==========================================
CSS Sección CALL BACK
============================================*/

section .contact {
background-color: #008fda!important;
color: #fff;
height: 100%;
}
/* ===========================================
Media Queries
============================================ */

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 640px) {}

@media only screen and (max-width: 480px) {
header {
    height: 175px;
}
nav {
    z-index: 100;
}
.logoUno {
    width: 60%;
    margin: 0 auto;
    float: none;
}
.fa.sizeIconUser {
    font-size: 32px;
}
.logoUno {
    text-align: center;
}
.logoDos {
    text-align: center;
}
.divisorBarraVertical {
    margin-left: 16px;
}
.title {
    left: 90%;
    transform: translate(-100%, -40%);
}
.title p {
    font-size: 28px;
    text-align: center;
}
.title h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 70px;
}
.title h2 {
    line-height: 40px;
    text-align: center;
}
.botonTitle {
    top: 78%;
    left: 57%;
}
.imgLeft {
    width: 100%;
    height: 40vh;
}
.bgReputacionOnline {
    width: 100%;
    height: 40vh;
}
.bgAsistenciaLegal {
    width: 100%;
    height: 40vh;
}
.bgActivosPersonales {
    width: 100%;
    height: 50vh;
    background-size: 504px;
}
.marPadBottom50 {
    margin-bottom: 50px;
    padding-bottom: 50px;
}
@media only screen and (max-width: 320px) {}